header {
  width: 100%;
  background: #ED1B2E;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 50px 
}

header > span {
  width: 43px;
  height: 43px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

header > nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
} 

header > nav a {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}